.head { grid-area: head; }
.left { grid-area: left; }
.right { grid-area: right; }
.view-history { grid-area: history; margin: 10px;}
.content { grid-area: content; }

.grid-container {
    display: grid;
    grid:
        'head head head head head head'
        'left left left right right right'
        'history history history history history history'
        'content content content content content content';
    
}

#product-table {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

    #product-title {
        border-bottom: 1px solid #ccc;
        padding: 10px;
    }

    #product-image {
        padding: 10px;
    }

    .panel {
        border: 1px solid #ccc;
        border-radius: 5px;
        text-align: center;
        margin: 15px;
    }
        .panel h2 {
            border-bottom: 1px solid #ccc;
            padding: 5px;
            background-color: #ccc;
        }

    #history-table {
        border: 1px solid #ccc;
    }
        #history-table tbody {
            text-align: center;
        }

    #product-table .content {
        border-top: 1px solid #ccc;
        padding: 10px;
    }